<div class='play-game-view'>
  <h1>It was you choice to quit what are your conquest?</h1>
  <br>
  <iframe width="420" height="315" src="//www.youtube.com/embed/I6duUt4qNnI?autoplay=1" frameborder="0" allowfullscreen></iframe>
  <br>
  <br>
  <br>
  <h3>ARE YOU NEXT!</h3>
  <%= link_to 'Try Again?', root_path %>
</div>
