<div class='play-game-view'>
  <h1>I am under attack by ALIENS!</h1>
  <br>
  <iframe width="560" height="315" src="//www.youtube.com/embed/9Yc5K-M0S0w?autoplay=1" frameborder="0" allowfullscreen></iframe>
  <br>
  <br>
  <h2>What are my options?</h2>
  <h3>Try to maneuver through them.</h3>
  <%= link_to 'Fly Around', alien_fly_path %>
  <h3>Engage in a battle with them.</h3>
  <%= link_to 'Fire Rockets', alien_fire_path %>
  <h3>Be a CHICKEN, by clicking "return to earth".</h3>
  <%= link_to 'Return To Earth', earth_chicken_path %>
</div>
