<h1>Good Luck Shooting Down The ALIENS</h1>
<br>
<br>
<iframe width="420" height="315" src="//www.youtube.com/embed/LpqTpfR19jE?autoplay=1" frameborder="0" allowfullscreen></iframe>
<br>
<br>
<br>
<br>
<h3>Were you successful? Click "Did I Make It!"</h3>
<%= link_to 'Did I Make It', alien_fight_path %>
