<div class='play-game-view'>
  <h1>Did You Survive!</h1>
  <h2>Play video to find out.</h2>
  <br>
  <br>
  <iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/xqrmfw" allowfullscreen></iframe><br /><a href="http://www.dailymotion.com/video/xqrmfw_little-miss-sunshine-clip-i-won_shortfilms" target="_blank">Little Miss Sunshine - Clip - I won!</a> <i>by <a href="http://www.dailymotion.com/MyMovies_International" target="_blank">MyMovies_International</a></i>
  <br>
  <br>
  <br>
  <br>
  <h3>Continue your flight to MARS, click "Continue To Mars."</h3>
  <%= link_to 'Continue To Mars', mars_landing_path %>
  <h3>Have you had enough and want to return to earth, click "Return To Earth".</h3>
  <%= link_to 'Return To Earth', earth_chicken_path %>
</div>
