<div class='play-game-view'>
  <h1>Good Luck Maneuvering Around The ALIENS</h1>
  <br>
  <h2>Click the video to start your MANEUVERS!</h2>
  <br>
  <iframe width="560" height="315" src="//www.youtube.com/embed/Zmz5N1UeAOE?list=PL_0FLsIA1QtfzcRnU4VU07hwtqMqypck1" frameborder="0" allowfullscreen></iframe>
  <br>
  <br>
  <br>
  <h2>That's a lot of Maneuvering!</h2>
  <h3>Were you successful? Click "Did I Make It!"</h3>
  <%= link_to 'Did I Make It', alien_fight_path %>
</div>
