<h1>Good Luck Maneuvering Around The ALIENS</h1>
<br>
<br>
<iframe width="420" height="315" src="//www.youtube.com/embed/gj0Rz-uP4Mk?autoplay=1" frameborder="0" allowfullscreen></iframe>
<br>
<br>
<br>
<h2>That's a lot of Maneuvering!</h2>
<h3>Were you successful? Click "Did I Make It!"</h3>
<%= link_to 'Did I Make It', alien_fight_path %>
