<div class='play-game-view'>
  <h1>Congratulations You Are The BIGGEST WINNER</h1>
  <br>
  <br>
  <h2>Clik "Play" on the video to see what you won.</h2>
  <iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/x1yo17" allowfullscreen></iframe><br /><a href="http://www.dailymotion.com/video/x1yo17_alian-song_music" target="_blank">Alian Song</a> <i>by <a href="http://www.dailymotion.com/paulf78" target="_blank">paulf78</a></i>
  <br>
  <br>
  <br>
  <h3>Do you want to continue to play!  Click "Play Game".</h3>
  <%= link_to 'Play Game', play_game_path %>
  <!--<h3>To collect your own space alien, click "Space Alien".</h3>-->
  <!--<%= link_to 'Space Alien', update_status_path %>-->
</div>
