<h1>Sorry To Tell You, YOU ARE THE BIGGEST LOSER!!!</h1>
<br>
<br>
<iframe width="420" height="315" src="//www.youtube.com/embed/1ytCEuuW2_A?autoplay=1" frameborder="0" allowfullscreen></iframe>
<br>
<br>
<br>
<h3>To collect your "RUBBER CHICKEN", click "Collect Chicken".</h3>
<br>
<%= link_to 'Collect Chicken', update_status_path %>
