<h1>BLASTOFF</h1>


<iframe width="560" height="315" src="//www.youtube.com/embed/x7hdq1jWi8c?autoplay=1" frameborder="0" allowfullscreen></iframe>

<!--<iframe width="560" height="315" src="//www.youtube.com/embed/dksmpynU04E?autoplay=1" frameborder="0" allowfullscreen></iframe>-->

<!--<iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/x1yo17" allowfullscreen></iframe><br /><a href="http://www.dailymotion.com/video/x1yo17_alian-song_music" target="_blank">Alian Song</a> <i>by <a href="http://www.dailymotion.com/paulf78" target="_blank">paulf78</a></i>-->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= link_to 'Continue', orbit_earth_path %> <br>
