<h3>Count Down to BLASTOFF!</h3>

<iframe width="560" height="315" src="//www.youtube.com/embed/2euuR0ijip8?autoplay=1" frameborder="0" allowfullscreen></iframe>

<br>
<br>
<br>

<%= 'LAST CHANCE TO BAIL OUT IF YOUR AFRAID!!!!!!!' %>

<br>
<br>

<%= link_to 'Bail Out', root_path %> <br>


<%= link_to 'Blastoff', blastoff_path %> <br>
