<h3>You Decided to Returning to Earth</h3>

<% 'redirect to crash returning to earth' %>

<br>
<br>

<% 'Video returning to earth safe landing' %>

<br>
<br>
<br>
<br>

<%= link_to 'Continue', rubber_chicken_path %> <br>
