<h1>Sorry To Tell You, YOU ARE THE BIGGEST LOSER!!!</h1>
<br>
<br>
<h3>Your are a CHICKEN! Click "What Did I Win?", to see what you have won.</h3>
<br>
<%= link_to 'What Did I Win', rubber_chicken_path %>
