<h1>You are going to where no man has gone before, MARS</h1>
<br>
<br>
<iframe width="560" height="315" src="//www.youtube.com/embed/D0zlq0HauEk?autoplay=1" frameborder="0" allowfullscreen></iframe>
<br>
<br>
<br>
<h3>Prepare for Mars Landing</h3>
<%= link_to 'Prepare For Mars Landing', alien_attack_path %>
