<div class='play-game-view'>
  <h1>You have been captured on MARS</h1>
  <br>
  <br>
  <iframe width="560" height="315" src="//www.youtube.com/embed/xOBGjm2QfzE?autoplay=1" frameborder="0" allowfullscreen></iframe>
  <br>
  <br>
  <br>
  <h3>Life with the aliens on Mars. Click "Captured On Mars".</h3>
  <%= link_to 'Captured On Mars', loser_path %>
</div>
