<h3>Landed on the Moon</h3>

<br>
<br>

<iframe width="560" height="315" src="//www.youtube.com/embed/-044ip8JEMQ?autoplay=1" frameborder="0" allowfullscreen></iframe>

<br>
<br>
<br>
<br>

<%= link_to 'Loser', loser_path %> <br>
