<div class='play-game-view'>
  <h1>Successful Liftoff Now Orbiting Earth</h1>
  <br>
  <br>
  <iframe width="560" height="315" src="//www.youtube.com/embed/1DNHRLgjLjA?autoplay=1" frameborder="0" allowfullscreen></iframe>
  <br>
  <br>
  <h2>When you are ready make your choice.  Are you CHICKEN?</h2>
  <br>
  <h2>If Your CHICKEN click return to earth.</h2>
  <%= link_to 'return to earth', earth_chicken_path %>
  <br>
  <br>
  <h3>If Your COURAGOUS, click "Land On Moon".</h3>
  <%= link_to 'Land On Moon', moon_path %>
</div>
