<h1>ARE YOUR READY TO PLAY BLASTOFF?</h1>
<br>
<h2>You Must Signup New Player or Login for Existing Player.</h2>
<h3>If you are continuing to play & don't want to change players.  Click Count Down.</h3>
<h3>New Player Signup, click "Player Signup".</h3>
<%= link_to 'Player Signup', new_player_path %>
<br>
<br>
<h3>Existing Player Login, click "Player Login".</h3>
<%= link_to 'Player Login', player_login_path %>
<br>
<br>
<h2>YOU ARE NOW READY TO PLAY!</h2>
<h3>If you are ready, click "Count Down".</h3>
<%= link_to 'Count Down', count_down_path %>
<br>
<br>
<h3>If you are AFRAID, click "Bail Out".</h3>
<%= link_to 'Bail Out', root_path %>
<br>
<br>
<br>
<h1>GOOD LUCK, YOU WILL NEED IT!!!!!!!</h1>



