<div class= <%= "pick_crew" %>>

  <% if @error != nil %>
    <b>Error: <%= @error %></b>
  <% end %>

  <br>
  <h2>Pick your crew for your BLASTOFF experience!</h2>

  <ul>
    <li>JETSONS
      <a class='btn btn-success btn-sm'
         href="/jetsons">
        Jetsons
      </a></li>
    <br>
    <li>SPACE GHOST
      <a class='btn btn-success btn-sm'
         href="/space_ghost">
        Space_Ghost
      </a></li>
    <br>
  </ul>
</div>
