<div class='play-game-view'>

<h1>Your Game Status Is Being Updated</h1>
<br>
<h3>Do you want to see your game status?  Click "Player Status".</h3>
<%= link_to 'Player Status', player_index_path %>
<br>
<br>
<h3>Do you want to continue to play!  Click "Play Game".</h3>
<%= link_to 'Play Game', play_game_path %>
<br>
<br>
<h3>If you had enough FUN, click "Logout" above.</h3>

</div>
