<div class='top'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-8'>
        <div class='top-logo'>Welcome to Blastoff</div>
      </div>
      <br>
      <div class='col-sm-4'>
        <div class=<'game'>
          <a href="/play_game">Play Game</a>
        </div>
      </div>
    </div
  </div>
</div>

<div class='picture'>
  <%= image_tag "welcome_pic01.jpg" %>
</div>
